- content_tag_for :div, activity do
  %abbr{:title => activity.actor.url_id}= activity.actor.title.present? ? activity.actor.title.upcase : activity.actor.url_id
  %abbr{:title => activity.verb}= activity.verb_title
  a
  %abbr{:title => activity.object.object_type }= activity.object.object_type.split('/').last.upcase
  - if activity.target.present?
    in
    %abbr{:title => activity.target.object_type}= activity.target.object_type.split('/').last.upcase
  = time_ago_in_words activity.published_at
  ago

  = link_to '(activity permalink)', permalink_path(activity.permalink)
  
  .object
    .left.object_type
      Actor
    .linked-object.round
      - link_to activity.actor.url_id do
        = activity.actor.title.present? ? activity.actor.title : activity.actor.url_id

  .object
    .left.object_type
      Verb
    .linked-object.round
      - link_to activity.verb do
        = activity.verb_title

  
  .object
    .left.object_type
      Object
    .linked-object.round
      - link_to activity.object.url_id do
        = activity.object.title.present? ? activity.object.title : activity.object.url_id

  - if activity.target.present?
    .object
      .left.target
        Target
      .linked-object.round
        - link_to activity.target.url_id do
          = activity.target.title.present? ? activity.target.title : activity.target.url_id
  .clear