- form_for @activity do |f|
  = f.error_messages

  - f.fields_for :actor, @activity.actor || @activity.build_actor do |actor|
    %fieldset 
      %legend Actor
      %p
        = actor.label :id
        %br
        = actor.text_field :id

      %p
        = actor.label :title
        %br
        = actor.text_field :title

  %fieldset
    %legend Verb
    %p
      = f.label :verb
      = f.select :verb, Activity.verbs_to_select

  - f.fields_for :object, @activity.object || @activity.build_object do |object|
    %fieldset 
      %legend Object
      %p
        = object.label :id
        %br
        = object.text_field :id

      %p
        = object.label :object_type
        = object.select :object_type, Obj.to_select

      %p
        = object.label :title
        %br
        = object.text_field :title

  - f.fields_for :target, @activity.target || @activity.build_target do |target|
    %fieldset 
      %legend Target
      %p
        = target.label :id
        %br
        = target.text_field :id

      %p
        = target.label :object_type
        = target.select :object_type, Target.to_select

      %p
        = target.label :title
        %br
        = target.text_field :title

  %fieldset
    %legend Activity

    %p
      = f.label :title
      %br
      = f.text_field :title

    %p
      = f.label :summary
      %br
      = f.text_area :summary

    %p
      = f.label :published_at
      %br
      = f.datetime_select :published_at

  %p
    = f.submit
