- title "Activity"

%p
  = @activity.actor.url_id
  = @activity.verb
  = @activity.object.url_id
  - if @activity.target.present?
    = @activity.target.url_id
  = time_ago_in_words @activity.published_at
  ago


%h3 JSON
~ CodeRay.scan(@activity.to_json, 'json').div(:line_numbers => :table, :css => :class)

%h3 XML
~ CodeRay.scan(@activity.to_xml, 'xml').div(:line_numbers => :table, :css => :class)

%p
  = link_to "Edit", edit_activity_path(@activity)
  |
  = link_to "Destroy", @activity, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "Create another", new_activity_path
