!!! Strict
%html{html_attrs}
  %head
    %title
      = h(yield(:title).to_s + ' - Activity Streams Workshop')
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{:name => "description", :content => "Activity Streams Workshop is a place to test and play with the Activity Streams format."}
    %meta{:name => "keywords", :content => "activity streams, activities, format, schema, test, json, atom, ruby, rails"}
    = stylesheet_link_tag 'application'
    = javascript_include_tag :defaults
    = yield(:head)
  
  %body
    #page
      #header
        #top
          %h1{:style => 'float: left;'} Activity Streams Workshop
          #user_bar{:style => 'float: right; text-align: right; '}
            = render :partial => 'users/user_bar'
        .clear
        #nav
          %ul.nav
            %li 
              %a{:href => '/'} Home
            %li
              %a{:href => '/activities/new'} New activity
            %li
              %a{:href => '/activities'} Browse Activities
            %li
              %a{:href => '/faq'} FAQ
        .clear
      #content
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
        - if show_title?
          %h2=h yield(:title)
      
        = yield
      
      #footer
        %p 
          Check out the <a href="http://activitystrea.ms" title="Activity Streams Website">Activity Streams</a> website. Grab the app's <a href="http://github.com/webcracy/activity_streams-workshop" title="Activity Streams Workshop code on Github">code</a>. 
          Please report any <a href="http://github.com/webcracy/activity_streams-workshop/issues" title="Activity Streams Workshop issues on Github">issues</a>. 
          %br 
          Created by <a href="http://0x82.com" title="Ruben Fonseca">Ruben Fonseca</a> and <a href="http://webcracy.org" title="Webcracy.org">Alex Solleiro</a> in 2010.